@layer components {
    .ais-Hits-list, .ais-InfiniteHits-list, .aa-List {
        @apply lg:grid-cols-3 grid-cols-2 grid;
    }

    .ais-Hits-item, .ais-InfiniteHits-item, .auc-Recommend-item {
        @apply w-full px-2 pb-4 h-full;
    }
    mark {
        @apply font-extrabold bg-transparent;
    }
    .hidden-xs, .hidden-sm {
        @apply hidden;
    }

}
